<div class="container-fluid">
    <a href="" ng-click="AddNewToyRow()" class="toy-create-plus"><i class="fa fa-plus fa-3x"></i></a> 
        
    <div class="row field-heading" ng-show="rowVisible">
        <span> Mandatory Attributes </span>
    </div>
    
	<div class="form-group toy-row" ng-show="rowVisible">
        <div class="row">
            <div class="col-sm-2"><label> Toy Id: </label></div>
            <div class="col-sm-2"><input type="text" ng-model="item.toyid.id" class="form-control" disabled="true"></div>
            <div class="col-sm-1"><input type="checkbox" class="checkbox" ng-model="item.toyid.flag"></div>{{item.toyid.flag}}
        </div>

        <div class="row">
            <div class="col-sm-2"><label for="toyName"> Toy Name: </label></div>
            <div class="col-sm-4"><input type="text" id="toyName" ng-model="item.toyname.name" required="true" class="form-control">
            </div>
            <div class="col-sm-1"><input type="checkbox" class="checkbox" ng-model="item.toyname.flag"></div>{{item.toyname.flag}}
        </div>

        <div class="row">
            <div class="col-sm-2"><label for="repeatSelect"> Category: </label></div>
            <div class="col-sm-4">
                <select name="repeatSelect" id="repeatSelect" ng-model="item.toycategory.category" class="form-control">
                    <option ng-repeat="category in toyCategory" value="{{category.CategoryName}}">{{category.CategoryName}}</option>
                </select>
            </div>
            <div class="col-sm-1"><input type="checkbox" class="checkbox" ng-model="item.toycategory.flag"></div>{{item.toycategory.flag}}
        </div>

        <div class="row">
            <div class="col-sm-2"><label for="toyPrice">Price (in Rs.): </label></div>
            <div class="col-sm-2"><input type="text" id="toyPrice" ng-model="item.toyprice.price" required="true" class="form-control">
            </div>
            <div class="col-sm-1"><input type="checkbox" class="checkbox" ng-model="item.toyprice.flag"></div>{{item.toyprice.flag}}
        </div>
	</div>
    
    <div class="row field-heading" ng-show="rowVisible">
        <span> Custom Attributes </span>
        <a href="" ng-click="addCustomAttribute()" class="toy-create-plus"><i class="fa fa-plus fa-3x"></i></a> 
    </div>
    
    <div class="row field-heading" ng-show="rowVisible">
        <table>
          <tbody>
            <tr ng-repeat="cstmAttr in customAttributes">
              <td><input type="text" placeholder="Enter your custom attribute" ng-model="item.customattribute.attribute" class="form-control"></td>
              <td><input type="text" placeholder="Enter your custom value" ng-model="item.customattribute.value" class="form-control"></td>
              <td><input type="checkbox" class="checkbox" ng-model="item.customattribute.flag"></td>
              <td><span class="btn btn-link" ng-click="deleteCustomAttribute($index)"><span class="glyphicon glyphicon-minus"></span></span></td>
            </tr>
          </tbody>
        </table>
    </div>
    
    
	<div class="row" ng-show="rowVisible">
		<button type="button" class="btn btn-primary pull-right" ng-click="AddNewToy()">Add Toy</button>
	</div>
	<div ng-show="showSuccessStatus" style="text-align: center;">Added Successfully...</div>
</div>
